.compass-container {
  display: grid;
  grid-template-columns: repeat(4, auto);
  gap: 6px;
  justify-content: center;
  max-width: 200px;
}

.compass-btn {
  width: 45px;
  height: 45px;
  font-size: 0.8rem;
  padding: 0;
}

@media (min-width: 576px) {
  .compass-btn {
    width: 60px;
    height: 60px;
    font-size: 1rem;
  }
}

/* Chrome, Safari, Edge, Opera */
.no-spinner::-webkit-inner-spin-button,
.no-spinner::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
.no-spinner {
  -moz-appearance: textfield;
}

.synced-table .col-a {
  width: 50%;
}

.card-body-tight {
    padding: 0.5rem;
}

.synced-table .col-b {
  width: 50%;
}

.table-wrapper {
  min-width: 150px;
  flex: 1;
}

.scrollable-table {
  max-height: 300px;
  overflow-y: auto;
}

.scrollable-table table {
  min-height: 240px; /* ~10 rows depending on row height */
}
